/* Universal Font Elements */

* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* Turn off number spinners in number input fields--pulled from CSS Tricks (https://css-tricks.com/snippets/css/turn-off-number-input-spinners/) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Header Elements */
header {
  height: 6em;
  margin: 0 0 2em 0;
  text-align: center;
  background-color: #404041;
}

header p {
  padding: .3em;
  margin: 0;
  font-size: 3em;
  color: #E6E7E8;
}

.number-text {
  font-size: 1em;
  font-weight: bold;
  color: #EB008B;
}

/* Input Field Elements */
.range {
  font-size: 1.25em;
}

.input-field::placeholder {
  color: #E6E7E8;
}

.range-field {
  width: 12.5%;
}

.user-input {
  text-align: center;
}

.user-input-field {
  width: 500px;
  height: 50px;
  margin-bottom: .5em;
  padding-left: 0.25em;
  font-size: 1.75em;
}

/* Button Elements */
.button {
  background-color: #929497;
  border-radius: 24px;
  color: #FFFFFF;
}

.button:disabled {
  background-color: #D0D2D3;
}

.button:hover {
  background-color: #EB008B;
}

.range-button {
  height: 25px;
  margin-left: .25em;
  border-radius: 24px;
  font-size: 0.75em;
  color: #FFFFFF;
}

.guess-class-buttons {
  margin: 0;
}

.user-input-button {
  width: 225px;
  height: 50px;
  margin: 0.25em 0.25em 1.5em;
  font-size: 1.5em;
}

.last-guess-reset-button {
  width: 500px;
  height: 50px;
  font-size: 1.5em;
}

/* Text Elements */
.last-guess {
  text-align: center;
}

.last-guess-text, 
.last-guess-output,
.game-win-message {
  margin: 0;
  font-size: 2em;
  text-decoration: none;
  color: #404041;
}

.last-guess-output {
  height: 2em;
}
.game-win-message {
  height: 2em;
  color: #EB008B;
}

.last-guess-number-display {
  margin: 0;
  padding: 0;
  font-size: 9em;
  color: #EB008B;
}